/*
Whole header layout
*/
#masthead {
  min-height: 135px;
  width: 100%;
  position: fixed;
  z-index: 2;
}
/*
First row: logo, navigation & contact menu
*/
.site-header {
  background: var(--white);
  min-height: 90px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}
/*
Logo
*/
.site-title {
  width: 100%;
  z-index: 2;
  position: relative;
  height: 57px;
  display: flex;
  order: 2;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
}
.custom-logo {
  margin-left: 14px;
  max-height: 27.1px;
  width: auto;
}
/*
Contact menu
*/
#site-contact {
  order: 1;
}
#contact-menu {
  width: 100vw;
  display: flex;
  list-style-type: none;
  justify-content: space-evenly;
}
/*
Contact CTA button
*/
#contact-menu li {
  width: 50%;
  flex: 1 0 auto;
}
#contact-menu a {
  width: 100%;
  font-weight: bold;
  text-align: center;
  color: var(--dark-green);
  font-size: 12px;
  line-height: 35px;
    height: 35px;
  display: inline-block;
  background: transparent linear-gradient(256deg, #FFE26D 0%, #FFCB3B 100%) 0% 0% no-repeat padding-box;
}
/* Telephone links are styled differently */
#contact-menu a[href^="tel:"] {
  color: var(--dark-gray);
  height: auto;
  padding: 0;
  background: none;
}
/* phone icon added before phone links */
#contact-menu a[href^="tel:"]:before {
  content:"";
  transform: scale(.75);
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHdpZHRoPScyNCcgaGVpZ2h0PScyNCc+CjxwYXRoIGZpbGw9IiMwMjlENzciIGQ9Ik0gMy4wMiA2LjQ5IEMgNC4yMiA4Ljg1IDYuMTUgMTAuNzcgOC41MSAxMS45OCBMIDEwLjM0IDEwLjE1IEMgMTAuNTcgOS45MiAxMC45IDkuODUgMTEuMTkgOS45NSBDIDEyLjEyIDEwLjI2IDEzLjEzIDEwLjQyIDE0LjE3IDEwLjQyIEMgMTQuNjIgMTAuNDIgMTUgMTAuOCAxNSAxMS4yNiBMIDE1IDE0LjE3IEMgMTUgMTQuNjIgMTQuNjIgMTUgMTQuMTcgMTUgQyA2LjM0IDE1IDAgOC42NiAwIDAuODMgQyAwIDAuMzcgMC4zNyAwIDAuODMgMCBMIDMuNzUgMCBDIDQuMjEgMCA0LjU4IDAuMzcgNC41OCAwLjgzIEMgNC41OCAxLjg3IDQuNzUgMi44NyA1LjA2IDMuODEgQyA1LjE1IDQuMSA1LjA4IDQuNDIgNC44NSA0LjY2IEwgMy4wMiA2LjQ5IFoiLz4KPC9zdmc+");
  background-repeat: no-repeat;
  display: inline-block;
  width: 16px;
  height: 15px;
  margin-right: 3px;
  position: relative;
  top: 3px;
}
/*
Nav
*/
#site-navigation {
  display: none;
  flex: 1 0 auto;
  order: 4;
}
#site-navigation.toggled {
  display: block;
}
#site-navigation ul {
  list-style-type: none;
}
/*
Hide nested navigation elements
*/
#site-navigation > div > ul div {
  display: none;
}
#site-navigation > div > ul {
  display: block;
  position: absolute;
  top: 92px;
  left: 0;
  width: 100%;
  z-index: 1;
}
/*
Top-level elements
*/
#site-navigation > div > ul > li {
  display: block;
  border-bottom: 1px solid #F3EACA;
  background: var(--light-beige);
  padding-left: 37px;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: space-between; 
}
#site-navigation > div > ul > li.current-menu-ancestor {
  background: var(--beige);
}
#site-navigation > div > ul > li > a {
  font-weight: 600;
  font-size: 15px;
  line-height: 56px;
    color: var(--dark-gray);
}
#site-navigation > div > ul > li > a:visited {
  font-weight: bold;
  color: var(--dark-green);
}
/*
Caret to show there's nested nav available
*/
#site-navigation > div > ul > li.menu-item-has-children::after {
  content: "";
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHdpZHRoPScyNCcgaGVpZ2h0PScyNCc+CjxwYXRoIGZpbGw9IiM0ZDRkNGQiIGQ9Ik0gMS4xOCAwIEwgMCAxLjE3IEwgMy44MiA1IEwgMCA4LjgyIEwgMS4xOCAxMCBMIDYuMTggNSBMIDEuMTggMCBaIi8+Cjwvc3ZnPg==");
  background-repeat: no-repeat;
  display: inline-block;
  width: 9px;
  padding-right: 36px;
  height: 12px;
}
/*
Nested content grid / shown on hover
*/
#site-navigation li.focus div {
  display: block;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: var(--light-beige);
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);  
}
/*
Category title & description
*/
#site-navigation li div h2 {
  color: var(--dark-green);
  height: 56px;
  width: 100%;
  text-align: center;
  line-height: 56px;
  background: var(--beige);
  border-bottom: 1px solid #F3EACA;
  position: relative;
  font-size: 16px;
  font-weight: bold;
}
#site-navigation li div h2:before {
  content: "";
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHdpZHRoPScyNCcgaGVpZ2h0PScyNCc+CjxwYXRoIGZpbGw9IiM0ZDRkNGQiIGQ9Ik0gMS4xOCAwIEwgMCAxLjE3IEwgMy44MiA1IEwgMCA4LjgyIEwgMS4xOCAxMCBMIDYuMTggNSBMIDEuMTggMCBaIi8+Cjwvc3ZnPg==");
  background-repeat: no-repeat;
  display: inline-block;
  width: 9px;
  position: absolute;
  left: 37px;
  top: 24px;
  height: 12px;
  transform: scaleX(-1);
}
#site-navigation li div p {
  display: none;
}
/*
Sub-categories
*/
#site-navigation li div > ul {
  padding-left: 37px;
  padding-top: 20px;
  padding-bottom: 20px;
}
#site-navigation li div > ul > li > a {
  font-weight: bold;
  font-size: 16px;
  color: var(--green);
}
#site-navigation li div > ul > li > ul a {
  font-weight: normal;
  font-size: 15px;
  text-decoration: underline;
  color: var(--dark-green);
}
#site-navigation li div > ul > li.current-post-parent > a {
  text-decoration: underline;
}
#site-navigation li div > ul li {
  display: block;
  margin-bottom: 15px;
}
#site-navigation li div > ul ul {
  margin-top: 15px;
}
#site-navigation li div > ul > li {
  margin-bottom: 40px;
}
/*
Button to toggle menu on mobile
*/
.menu-toggle {
  display: inline-block;
  width: 24px;
  margin-left: 24px;
  padding-top: 8px;
  margin-right: 24px;
  background: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  color: var(--dark-green);
  font-size: 10px;
}
.menu-toggle:before {
  content: "";
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHdpZHRoPScyNCcgaGVpZ2h0PScyNCc+CjxkZWZzPgogICAgPGxpbmVhckdyYWRpZW50IGlkPSJnciIgeDE9IjAiIHgyPSIxIiB5MT0iMSIgeTI9IjAiPgogICAgICA8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjMDI1NDRkIi8+CiAgICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzAwNzI1NiIvPgogICAgPC9saW5lYXJHcmFkaWVudD4KPC9kZWZzPgo8cGF0aCBmaWxsPSJ1cmwoI2dyKSIgZD0iTSAwIDE5LjMzIEwgMjkgMTkuMzMgTCAyOSAxNi4xMSBMIDAgMTYuMTEgTCAwIDE5LjMzIFogTSAwIDExLjI4IEwgMjkgMTEuMjggTCAyOSA4LjA2IEwgMCA4LjA2IEwgMCAxMS4yOCBaIE0gMCAwIEwgMCAzLjIyIEwgMjkgMy4yMiBMIDI5IDAgTCAwIDAgWiIgLz4KPC9zdmc+");
  background-repeat: no-repeat;
  height: 24px;
  width: 24px;
  flex: 1 0 auto;
}
.menu-toggle[aria-expanded="true"]:before {
  background-position: 2px 0px;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHdpZHRoPScyNCcgaGVpZ2h0PScyNCc+CjxkZWZzPgogICAgPGxpbmVhckdyYWRpZW50IGlkPSJnciIgeDE9IjAiIHgyPSIxIiB5MT0iMSIgeTI9IjAiPgogICAgICA8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjMDI1NDRkIi8+CiAgICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzAwNzI1NiIvPgogICAgPC9saW5lYXJHcmFkaWVudD4KPC9kZWZzPgo8cGF0aCBmaWxsPSJ1cmwoI2dyKSIgZD0iTSAxOS43NSAxLjk5IEwgMTcuNzYgMCBMIDkuODggNy44OSBMIDEuOTkgMCBMIDAgMS45OSBMIDcuODkgOS44OCBMIDAgMTcuNzYgTCAxLjk5IDE5Ljc1IEwgOS44OCAxMS44NyBMIDE3Ljc2IDE5Ljc1IEwgMTkuNzUgMTcuNzYgTCAxMS44NyA5Ljg4IEwgMTkuNzUgMS45OSBaIiAvPgo8L3N2Zz4K");
}
/*
Breadcrumbs
*/
#crumbs {
  width: 100%;
  display: flex;
  align-items: center;
  list-style-type: none;
  padding-left: 14px;
  height: 45px;
  background: var(--beige);
  font-size: 13px;
}
/*
Crumbs separator
*/
#crumbs li:after {
  content: "";
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHdpZHRoPScyNCcgaGVpZ2h0PScyNCc+CjxwYXRoIGZpbGw9IiM0ZDRkNGQiIGQ9Ik0gMS4xOCAwIEwgMCAxLjE3IEwgMy44MiA1IEwgMCA4LjgyIEwgMS4xOCAxMCBMIDYuMTggNSBMIDEuMTggMCBaIi8+Cjwvc3ZnPg==");
  background-repeat: no-repeat;
  display: inline-block;
  width: 16px;
  margin-left: 13px;
  height: 10px;
}
/*
No separator after last child
*/
#crumbs li:last-child:after {
  width: 0;
  height: 0;
}
#crumbs a {
  font-weight: 600;
  color: var(--dark-green);
  text-decoration: underline;
}
#crumbs .current {
  font-weight: normal;
  color: var(--gray);
}
@media (min-width: 768px) {
  .site-header {
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
    justify-content: center;
  }
  /*
  Logo
  */
  .site-title {
    width: auto;
    position: initial;
    height: auto;
    order: 1;
    min-width: calc(18.4vw - 12px);
    justify-content: center;
    box-shadow: none;
  }
  .custom-logo {
    margin: 0;
    max-height: 39.1px;
    width: auto;
  }
  /*
  Contact menu
  */
  #site-contact {
    order: 3;
  }
  #contact-menu {
    width: auto;
    min-width: 25vw;
  }
  #contact-menu li {
    width: initial;
    flex: initial;
  }
  /*
  Contact CTA button
  */
  #contact-menu a {
    width: auto;
    font-size: 16px;
    line-height: 45px;
    padding-left: 54.5px;
    padding-right: 54.5px;
    height: 45px;
    border-radius: 23px;
    box-shadow: 0px 3px 6px #00000033;
  }
  #contact-menu a[href^="tel:"] {
    border-radius: 0;
    box-shadow: none;
  }
  /* phone icon added before phone links */
  #contact-menu a[href^="tel:"]:before {
    transform: none;
    top: 2px;
  }
  /*
  Nav
  */
  .menu-toggle {
    display: none;
  }
  #site-navigation {
    display: block;
    order: 2;
  }
  #site-navigation > div > ul {
    display: block;
    position: relative;
    top: 0;
    left: 0;
    width: auto;
  }
  /*
  Top-level elements
  */
  #site-navigation > div > ul > li {
    --padding-right: 12px;
    display: inline-block;
    margin-left: calc(52px - 12px - var(--padding-right));
    padding: 9px 12px 9px 12px;
    padding-right: var(--padding-right);
    border-radius: 4px;
    background: none;
    height: auto;
    border: 0;
  }
  #site-navigation > div > ul > li.current-menu-ancestor {
    background: none;
  }
  #site-navigation > div > ul > li > a {
    font-size: 17px;
    line-height: 28px;
    color: var(--gray);
  }
  #site-navigation > div > ul > li:first-child {
    margin-left: 0px;
  }
  /*
  Caret to show there's nested nav available
  */
  #site-navigation > div > ul > li.menu-item-has-children::after {
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHdpZHRoPScyNCcgaGVpZ2h0PScyNCc+CjxwYXRoIGZpbGw9IiM0RDRENEQiIGQ9Ik0gMTAuODQgMCBMIDYuMTQgNC42OSBMIDEuNDQgMCBMIC0wIDEuNDQgTCA2LjE0IDcuNTggTCAxMi4yOCAxLjQ0IEwgMTAuODQgMCBaIi8+Cjwvc3ZnPg==");
    width: 16px;
    height: 9px;
    margin-left: 4px;
    padding-right: 0;
  }
  #site-navigation > div > ul > li.menu-item-has-children {
    border-radius: 4px 4px 0px 0px;
     --padding-right: 9px;
  }
  /*
  Hover effect: show nested content
  */
  #site-navigation > div > ul > li:hover {
    background: var(--light-green);
  }
  /*
  Nested content grid / shown on hover
  */
  #site-navigation li:hover div {
    display: grid;
    width: max-content;
    background: var(--light-beige);
    grid-column-gap: 36px;
    grid-row-gap: 22px;
    grid-template-rows: 0fr 1fr;
    grid-auto-columns: minmax(36px, auto);
    position: absolute;
    top: 41px;
    left: 0;
    padding: 34px 30px 34px 30px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);  
  }
  /*
  Category title & description
  */
  #site-navigation li div h2, #site-navigation li div p {
    grid-column: 1;
    width: 246px;
  }
  #site-navigation li div h2 {
    border: 0;
    height: initial;
    text-align: left;
    width: initial;
    font-size: 20px;
    font-weight: bold;
    background: none;
    position: initial;
  }
  #site-navigation li div h2:before {
    display: none;
  }
  #site-navigation li div p {
    display: block;
    color: var(--gray);
    font-weight: normal;
    font-size: 13.9px;
    line-height: 23px;
  }
  /*
  Sub-categories
  */
  #site-navigation li div > ul {
    grid-row: 1/3;
    grid-column: 2;
    grid-auto-flow: column;
    display: grid;
    grid-gap: 1em;
    grid-auto-rows: minmax(36px, auto);
    grid-auto-columns: minmax(200px, auto);
  }
  #site-navigation li div > ul > li > a {
    font-size: 18px;
  }
  #site-navigation li div > ul > li > ul a {
    font-size: 16px;
  }
  #site-navigation li div > ul li {
    display: block;
    margin-bottom: 22px;
  }
  #site-navigation li div > ul ul {
    display: block;
    margin-top: 22px;
  }
  #site-navigation li div > ul > li {
    margin-bottom: 22px;
  }
  #crumbs {
    padding-left: 18.4vw;
  }
}
