#masthead {
  height: 135px;
}
.site-header {
  height: 90px;
  display: flex;
  align-items: center;
}
.site-title {
  width: 18.4vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
#site-contact {
  order: 3;
}
#contact-menu {
  display: flex;
  list-style-type: none;
  justify-content: space-evenly;
}
.custom-logo {
  max-height: 39.1px;
  width: auto;
}
#site-navigation {
  flex: 1 0 auto;
}
#site-navigation li {
  display: inline-block;
}
#site-navigation ul {
  display: none;
  list-style-type: none;
}
#site-navigation > div > ul {
  display: block;
}
#site-navigation > div > ul > li {
  margin-left: 61px;
}
#site-navigation > div > ul > li:first-child {
  margin-left: 0px;
}
#crumbs {
  order: 4;
  width: 100%;
  flex: 1 0 auto;
  display: flex;
  align-items: center;
  list-style-type: none;
  padding-left: 18.4vw;
  height: 45px;
  background: var(--beige);
}
#crumbs li:after {
  content: "";
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHdpZHRoPScyNCcgaGVpZ2h0PScyNCc+CjxwYXRoIGZpbGw9IiM0ZDRkNGQiIGQ9Ik0gMS4xOCAwIEwgMCAxLjE3IEwgMy44MiA1IEwgMCA4LjgyIEwgMS4xOCAxMCBMIDYuMTggNSBMIDEuMTggMCBaIi8+Cjwvc3ZnPg==");
  background-repeat: no-repeat;
  display: inline-block;
  width: 16px;
  margin-left: 14px;
  height: 11px;
}
#crumbs li:last-child:after {
  width: 0;
  height: 0;
}
