#masthead {
  height: 135px;
}
.site-header {
  height: 90px;
  display: flex;
  align-items: center;
}
.site-title {
  width: 18.4vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
#site-contact {
  order: 3;
}
#contact-menu {
  display: flex;
  list-style-type: none;
  justify-content: space-evenly;
}
.custom-logo {
  max-height: 39.1px;
  width: auto;
}
#site-navigation {
  flex: 1 0 auto;
}
#site-navigation li {
  display: inline-block;
}
#crumbs {
  order: 4;
  width: 100%;
  flex: 1 0 auto;
  display: flex;
  align-items: center;
  list-style-type: none;
  padding-left: 18.4vw;
  height: 45px;
  background: var(--beige);
}
