/*
General layout
*/
#primary {
  padding-top: 135px;
}
#primary h2 {
  font-size: 28px;
  line-height: 40px;
  color: var(--dark-green);
  text-align: left;
  font-weight: bold;
  margin-bottom: 22px;
}
#primary h3 {
  font-size: 24px;
  line-height: 35px;
  color: var(--green);
  text-align: left;
  font-weight: bold;
  margin-bottom: 22px;
}
#primary p, #primary ul {
  font-size: 16px;
  line-height: 25px;
  color: var(--gray);
  text-align: left;
  margin-bottom: 36px;
}
#primary li {
  list-style-type: none;
  padding-left: 35px;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHdpZHRoPScyMScgaGVpZ2h0PScyMSc+CjxwYXRoIGZpbGw9IiMwMjlENzciIGQ9Ik0gNi4zNiAxMi4wNSBMIDEuNTkgNy4yNyBMIDAgOC44NiBMIDYuMzYgMTUuMjMgTCAyMCAxLjU5IEwgMTguNDEgMCBMIDYuMzYgMTIuMDUgWiIvPgo8L3N2Zz4=");
  background-repeat: no-repeat;
  background-position: 0px 5px;
}
#primary a {
  color: var(--dark-green);
  text-decoration: underline;
}
#primary img {
  width: 100%;
  height: auto;
}
/* style buttons as CTA */
#primary .wp-block-button a {
  text-decoration: none;
}
#primary .wp-block-button {
  font-weight: bold;
  text-align: center;
  color: var(--dark-green);
  font-size: 16px;
  line-height: 45px;
  height: 45px;
  padding-left: 39.5px;
  padding-right: 39.5px;
  cursor: pointer;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
  border-radius: 23px;
  background: transparent linear-gradient(256deg, var(--light-yellow) 0%, var(--dark-yellow) 100%) 0% 0% no-repeat padding-box;
}
/*
header
*/
#primary header {
  height: 470px;
  background: linear-gradient(256deg, #007256 0%, var(--dark-green) 100%);
  display: flex;
  justify-content: center;
  align-items: center;
}
#primary header h1 {
  font-size: 45px;
  width: 796px;
  line-height: 65px;
  font-weight: bold;
  color: var(--white);
  margin-bottom: 110px;
  text-align: center;
}
/* if the post start with a button, style it like a fat CTA inside the header */
#primary header + .entry-content > .wp-block-buttons:first-child { 
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: -171px;
}
#primary header + .entry-content > .wp-block-buttons:first-child .wp-block-button {
  font-weight: bold;
  text-align: center;
  color: var(--dark-green);
  font-size: 18px;
  line-height: 55px;
  height: 55px;
  width: 300px;
  border-radius: 28px;
  background: transparent linear-gradient(256deg, var(--light-yellow) 0%, var(--dark-yellow) 100%) 0% 0% no-repeat padding-box;
}
/*
Reusable coordinates block
*/
#primary .coordinates {
  width: 380px;
  margin-left: 36px;
}
/*
Media/Text block
*/
#primary .wp-block-media-text {
  width: 100%;
  padding-left: 18.4vw;
  padding-right: 18.4vw;
  display: grid;
  grid-gap: 36px;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr;
}
/*
cover block
*/
#primary .wp-block-cover {
  width: calc(100% - 36.8vw);
  height: 260px;
  position: relative;
  margin-left: 18.4vw;
  margin-top: 79px;
  margin-bottom: 100px;
}
#primary .wp-block-cover img {
  height: 100%;
  object-fit: cover;
}
#primary .wp-block-cover .wp-block-cover__inner-container h3, #primary .wp-block-cover .wp-block-cover__inner-container p {
  color: var(--white);
  margin-bottom: 40px;
  font-size: 28px;
  font-weight: bold;
}
#primary .wp-block-cover .wp-block-cover__inner-container {
  position: absolute;
  background: rgba(2, 84, 77, .8);
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}
#primary .wp-block-group h2 {
  margin-bottom: 40px;
}
#primary .wp-block-group {
  background: var(--light-beige);
  padding-top: 100px;
  padding-bottom: 100px;
  padding-left: 18.4vw;
  padding-right: 18.4vw;
}
#primary .wp-block-group:nth-child(2n+1) {
  background: none;
}
/*
Columns
*/
#primary .wp-block-columns {
  display: grid;
  grid-auto-flow: columns;
  grid-column-gap: 36px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
}
#primary .wp-block-columns .wp-block-cover {
  width: 100%;
  margin: 0;
}
