footer#colophon {
  width: 100%;
  height: 670px;
  position: relative;
}
#colophon * {
  font-size: 16px;
}
#colophon h2 {
  color: var(--dark-green);
  font-size: 21px;
  margin-bottom: 28px;
}
#colophon ul {
  list-style-type: none;
}
/* first footer row with social links / matches the "footer-social" menu content */
#colophon #social {
  height: 106px;
  width: 100%;
  background: var(--light-beige);
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
#colophon #social h2 {
  margin: 0;
}
#colophon #social li {
  display: inline;
}
/* hide the link text to only show an icon */
#colophon #social a {
  height: 30px;
  display: inline-block;
  width: 30px;
  overflow: hidden;
  padding-left: 30px;
  margin-left: 15px;
  margin-top: 1px;
  background-repeat: no-repeat;
}
/* this could be expanded to handle more social networks */
#colophon #social a[href*="facebook.com"] {
  background-image: url("./icons/fb.png");
}
#colophon #social a[href*="linkedin.com"] {
  background-image: url("./icons/linkedin.png");
}
#colophon #social a[href*="twitter.com"] {
  background-image: url("./icons/twitter.png");
}
/*
Second footer row with custom logo, copyright, 2 widgets for about & contact, and the "footer-legal" menu
*/
#colophon .site-info {
  width: 100%;
  min-height: 564px;
  background: var(--light-green);
  display: grid;
  grid-gap: 20px;
  grid-auto-flow: column;
  grid-template-rows: 0fr 0fr 0fr 0fr;
  grid-template-columns: 1fr;  
}
#colophon #social, #colophon .site-info {
  padding-left: 20px;
  padding-right: 20px;
}
#colophon #copyright {
  font-size: 16px;
  line-height: 25px;
  color: var(--gray);
  text-align: center;
}
#colophon .custom-logo-link {
  position: absolute;
  margin-top: 22px;
}
/* about section */
#colophon section:nth-child(2) h2 {
  display: none;
}
#colophon section:nth-child(2) {
  margin-top: 70px;
  line-height: 25px;
  color: var(--gray);
  text-align: left;
}
#colophon section:nth-child(2) p {
  margin-top: 20px;
}
#colophon section:nth-child(2) p:first-child {
  margin-top: 0;
}
/*
Contact section
*/
#colophon section:nth-child(3) {
  height: 100%;
  background: var(--white);
}
/* last section "more information" */
#colophon section:nth-child(4) li {
  margin-bottom: 22px;
}
#colophon section:nth-child(4) a {
  text-decoration: underline;
  color: var(--dark-green);
}
@media (min-width: 1280px) {
  #colophon #social, #colophon .site-info {
    padding-left: 18.4vw;
    padding-right: 18.4vw;
  }
  #colophon .site-info {
    grid-gap: 36px;
    padding-top: 59.5px;
    grid-auto-flow: column;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;  
  }
  #colophon section:nth-child(2) {
    margin-top: 89px;
  }
  #colophon section:nth-child(2) p {
    margin-top: 35px;
  }
  #colophon section:nth-child(4) {
    padding-top: 32px;
  }
  #colophon #copyright {
    position: absolute;
    bottom: 88px;
    text-align: left;
  }
}
